* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
  font-size: 24px;
}
section div {
  width: 30%;
  text-align: center; /* Centra el texto */
}
p {
  text-align: justify; /* Justifica el texto */
}
body > section > div > img {
  width: 350px; /* Tamaño uniforme para todas las imágenes */
  max-width: 100%; /* Evita que la imagen desborde en pantallas pequeñas */
  height: auto;
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 5px 5px 20px 20px rgb(0, 255, 255);
}
h2 {
  margin: 0px 0px 30px 0px;
}