@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');
/* estilos generales */
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
/* estilos del nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  font-weight: 700;
  text-decoration: none;
}
nav ul {
  display: flex;
  gap: 25px; /* Espacio opcional entre elementos */
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul li a {
  /* Quita el subrayado de los enlaces del menú de navegación */
  text-decoration: none;
  color: black;
}
nav ul li a:hover {
  color: rgb(143, 212, 64);
  transition: 0.3s;
}
main header div span {
  color: rgb(143, 212, 64);
}
/* estilos del header */
header {
  background-color:#fbffe3;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-content: center;
}
header img {
  border: 7px solid rgb(143, 212, 64);
  border-radius: 3%;
}
header > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
  gap: 15px;
}
header div > p {
  color: rgb(0, 0, 0);
  font-size: 18px;
  text-align: justify;
}
main h2 {
  padding: 30px 30px 5px 20px;
}
/* estilos de la sección de portafolio */
/* Sección de portafolio */
.seccion-portafolio {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: nowrap;
    padding: 20px;
}
.seccion-portafolio div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.Titulo {
  background-color: #fbffe3;
}
.seccion-servicios {
  background-color: #fbffe3;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.seccion-servicios div{
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 10px;
}
.seccion-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: white;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 400px;
    padding: 30px;
    background-color: #91a566;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #91a566;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    padding: 10px;
    background-color:#fbffe3
  ;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #67a8ee;
}

/* estilos del footer */
footer {
  background-color: #fbffe3;
  padding: 20px;
  text-align: center;
  color: rgb(2, 2, 2);
  font-size: 18px;
}